{% extends 'quiz_app/base.html' %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            {% if author_quizes %}
            <div class="card">
                <div class="card-header text-white bg-dark">
                    <h4>
                        Quizes by {{ author }}
                    </h4>
                </div>
            </div>
            <form action="{% url 'search_quiz' %}" class="card card-sm" method="POST">
                {% csrf_token %}
                <div class="card-body row no-gutters align-items-center">
                    <div class="col">
                        <input class="form-control" type="search" placeholder="Search Quiz" name="search">
                    </div>
                    <div class="col-auto">
                        <button class="btn btn-primary" type="submit">Search</button>
                    </div>
                </div>
            </form>
                <br>
                {% for quiz in author_quizes %}
                <div class="card-header">
                    <h5>
                        {{ quiz.quiz_name }}
                    </h5>
                </div>
                <form action="{% url 'quiz' quiz.id %}">
                    <div class="d-grid gap-2">
                        <button class="btn btn-primary">Take Quiz</button> 
                    </div>
                </form>
                <br>
                {% endfor %}
            </div>
            {% else %}
            <div class="card">
                <div class="card-header text-white bg-dark">
                    <h4>
                        No Quizes
                    </h4>
                </div>
            </div>
            {% endif %}
    </div>
</div>

{% endblock %}

