  {% extends 'quiz_app/base.html' %}
{% load static %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <div class="card">
                <div class="card-header text-white bg-dark">
                        <h4>
                            {{ author_profile.username }}'s  Profile
                        </h4>
                </div>
            </div>
            <div class="card">
                {% if messages %}
                    {% for message in messages %}
                    <div id="message_container" class="alert alert-success">
                        {{ message }}
                    </div>
                    {% endfor %}
                {% endif %} 
                <div class="card-header">
                    <div class="card-title">
                        <h5 class="col-md-12">{{ author_profile.username }}</h5> 
                    </div>
                </div>
                <div class="card-body"> 
                        <h6><img src="{% static 'id-card.png' %}" height="25px" width="25px"> {{ author_profile.first_name }}</h6>
                        <h6><img src="{% static 'gmail.jpg' %}" height="30px" width="25px"> {{ author_profile.email }}</h6> 
                {% if user.profile.location is not None or profile.bio is not None %}
                        <h6><img src="{% static 'location.jpg' %}" height="25px" width="25px"> {{ author_profile.profile.location }}</h6>
                        <h6><img src="{% static 'bio.png' %}" height="25px" width="25px"> {{ author_profile.profile.bio }}</h6>
                </div>
                {% endif %}
                </div>
                <form action="{% url 'author_quizes' author_profile.username %}">
                    <div class="d-grid gap-2 top_margin">
                        <button class="btn btn-secondary">Author Quizes : {{ quizes_count }}</button> 
                    </div>
               </form>
           </div>

      </div>
 </div>
</div>
{% endblock %}