{% extends 'quiz_app/base.html' %}
{% load crispy_forms_tags %}
{% crispy question_form question_form.helper %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            {% if messages %}
            {% for message in messages %}
                <div id="message_container" class="alert alert-success">
                    {{ message }}
                </div>
            {% endfor %}
            {% endif %}
            <div class="card col-md-12">
                <div class="card-header text-white bg-dark">
                        <h4>
                            Create Question
                        </h4>
                </div>
            </div>
            <br>
            <div class="card">
                <form method="post">
                    {% csrf_token %}
                    {{ question_form.question|as_crispy_field }}
                    <br>
                    {{ question_form.option_one|as_crispy_field }}
                    <br>
                    {{ question_form.option_two|as_crispy_field }}
                    <br>
                    {{ question_form.option_three|as_crispy_field }}
                    <br>
                    {{ question_form.option_four|as_crispy_field }}
                    <br>
                    {{ question_form.quiz|as_crispy_field }}
                    <br>
                    {{ question_form.answer|as_crispy_field }}
                    <br>
                    <div class="d-grid gap-2">
                        <button class="btn btn-primary" type="submit">{{ button_name}}</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}