{% extends 'quiz_app/base.html' %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <div class="card">
                <div class="card-header">
                    <h3>
                        My Quizes
                    </h3>
                </div>
                {% for quiz in my_quizes %}
                <a href="{% url 'quiz' quiz.id %}">{{ quiz.quiz_name }}</a>
                <br>
                <a href="{% url 'edit_quiz' quiz.id %}">Edit Quiz</a>
                <br>
                <a href="{% url 'delete_quiz' quiz.id %}">Delete Quiz</a>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

{% endblock %}