{% extends 'quiz_app/base.html' %}

{% block content %}

{% if my_quizes %}
<div class="container">
    <div class="row">
        <div class="col-md-8 offset-md-2">      
            {% if messages %}
                {% for message in messages %}
                    <div id="message_container" class="alert alert-success">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}    
            <div class="card">
                <div class="card-header text-white bg-dark">
                    <h4>
                        My Quizes
                    </h4>
                </div>
            </div>
            <br>
                {% for quiz in my_quizes %}
                <div class="card">
                <div class="card-header">
                    <h5>
                        {{ quiz.quiz_name }}
                    </h5>
                </div>
                <form action="{% url 'edit_quiz' quiz.id %}">
                    <div class="d-grid gap-2">
                        <button class="btn btn-primary">Edit Quiz</button> 
                    </div>
                </form>
                <form action="{% url 'delete_quiz' quiz.id %}">
                    <div class="d-grid gap-2">
                        <button class="btn btn-danger">Delete Quiz</button> 
                    </div>
                </form>
                <form action="{% url 'quiz_questions' quiz.id %}">
                    <div class="d-grid gap-2">
                        <button class="btn btn-secondary">Quiz Questions</button> 
                    </div>
                </form>
                <br>
                </div>
                {% endfor %}
            {% else %}
            <div class="card col-md-8 offset-md-2">
                <div class="card-header text-white bg-dark">
                    <h4>
                        No Quizes
                    </h4>
                </div>
                <div class="card-body">
                    <form action="{% url 'create_quiz' %}">
                        <div class="d-grid gap-2">
                            <button class="btn btn-primary">Create Quizes</button> 
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endif %}

{% endblock %}