{% extends 'quiz_app/base.html' %}

{% block content %}
<div id="displaytimer"><b>Timer: 0 seconds</b></div>
<div class="container">
    <div class="row">
        <div class="col-md-8 offset-md-2">
        {% if questions %}
            <div class="card">
                <div class="card-header text-white bg-dark">
                    <div class="card-title">
                        <h4>
                            {{ quiz_name }}
                        </h4>
                    </div>
                </div>
            </div>
                <br>
               
                   
                    {% for question in questions %}
                    <div class="card">
                    <form action="" method="get">
                        <h6 class="input_padding">{{ question }}</h6>
                        <label class="input_padding"><input type="radio" name="name" value="{{question.option_one}}"> {{question.option_one}}</label>
                        <br>
                        <label class="input_padding"><input type="radio" name="name" value="{{question.option_two}}"> {{question.option_two}}</label>
                        <br>
                        <label class="input_padding"><input type="radio" name="name" value="{{question.option_three}}"> {{question.option_three}}</label>
                        <br>
                        <label class="input_padding"><input type="radio" name="name" value="{{question.option_four}}"> {{question.option_four}}</label>
                    </form>
                    </div>
                    <br>
                    {% endfor %}
                    <div class="form-group">
                        <button id="save_ans" class="btn btn-success" type="submit">Submit Answer</button>
                    </div>
                    <div class="paginator top_margin">
                        <div class="form-group">
                            {% if questions.has_next %}
                            <a href="?page={{ questions.next_page_number }}"><button class="btn form-control btn-primary" id="submitAnswer">Next</button></a>
                            {% else %}
                            <a href="{% url 'result' %}"><button class="btn form-control btn-success" id="submitAnswer">Submit Quiz</button></a>
                            {% endif %}
                        </div>
                    </div>
            {% else %}
            <div class="card">
                <div class="card-header text-white bg-dark">
                    <h4>
                        No Questions
                    </h4>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}