{% extends 'quiz_app/base.html' %}

{% block content %}

<div id="displaytimer"><b>0</b></div>
<div class="container">
    <div class="row">
        <div class="col-md-8 offset-md-2">
        {% if questions %}
            <div class="card">
                <div class="card-header text-white bg-dark">
                    <div class="card-title">
                        <h4>
                            {{ quiz.quiz_name }}
                        </h4>
                    </div>
                </div>
            </div>
                <br>
                    {% for question in questions %}
                    <div class="card">
                        <h6 class="input_padding">{{ question }}</h6>
                        <label class="input_padding"><input class="rb" type="radio" name="{{question.id}}" value="{{question.option_one}}"> {{question.option_one}}</label>
                        <label class="input_padding"><input class="rb" type="radio" name="{{question.id}}" value="{{question.option_two}}"> {{question.option_two}}</label>
                        <label class="input_padding"><input class="rb" type="radio" name="{{question.id}}" value="{{question.option_three}}"> {{question.option_three}}</label>
                        <label class="input_padding"><input class="rb" type="radio" name="{{question.id}}" value="{{question.option_four}}"> {{question.option_four}}</label>
                        <label style="display: none; color: green" class="correct_ans"><b>{{question.answer}}</b></label>
                    </div> 
                    <hr>
                    {% endfor %}
                    <div class="d-grid gap-2 ">
                        <button class="btn btn-success">Check Answers</button>
                    </div>
                    {% else %}
                    <div class="card">
                        <div class="card-header text-white bg-dark">
                            <h4>
                                No Questions
                            </h4>
                        </div>
                    </div>
                    {% endif %}
        </div>
    </div>
</div>

<script>
        $(document).ready(function(){
            $('.btn').click(function(){ 
                $('.correct_ans').show();
                $('.rb').attr('disabled', true);
            });
        });
</script>

{% endblock %}