{% extends 'quiz_app/base.html' %}
{% load static %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                {% if messages %}
                {% for message in messages %}
                    <div id="message_container" class="alert alert-success">
                        {{ message }}
                    </div>
                {% endfor %}
                {% endif %}
                <div class="card">
                    <div class="card-header text-white bg-dark">
                            <h4 class="col-md-12 offset-md-5">
                                Welcome
                            </h4>
                    </div>
                    <img src="{% static 'welcome.jpg' %}" width="100%">
                    <form action="{% url 'quizes' %}">
                        <div class="d-grid gap-2">
                            <button class="btn btn-primary" type="submit">Check Quizes</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}